{% extends 'base.html.twig' %}

{% block title %}Séries de la catégorie {{ category.name }} {% endblock %}

{% block body %}
     {% for program in programs %}
        <div>
            <a  href="{{ path("program_show", { program: program.id }) }}"><img class="poster" src="{{program.poster}}" alt="{{ program.title }}" ></a>
            {# Lien vers la fiche de la série : #}
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}

    <a class = "button" href="{{ path('category_index') }}">
        Retour à la liste des catégories
    </a>
    <br>
    <a class = "button" href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}